<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="/user/fragments/head.html::head"></th:block>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:insert="/user/fragments/sidebar.html::sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <th:block th:insert="/user/fragments/topbar.html::topbar"></th:block>


            <!-- Begin Page Content -->
            <div class="col-md-12 col-md-offset-1">
                <h1 class="text-center">List Comments</h1>
                <div class="scroll-table">
                    <table>
                        <thead>
                        <tr>
                            <th scope="col">Avatar</th>
                            <th scope="col">Username</th>
                            <th scope="col">Title Post</th>
                            <th scope="col">Comment</th>
                            <th scope="col">Category</th>
                            <th scope="col">Status</th>
                            <th scope="col">CreateAt</th>
                            <th scope="col">UpdateAt</th>
                            <th scope="col">Buttons</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="scroll-table-body">
                        <table>
                            <tbody>
                            <tr th:each="comment:${comments}">
                                <td><img style="border-radius: 50%; padding-bottom: 5px" width="50px"
                                         th:src="@{|/${comment.getUser().getAvatarUrl()}|}"></td>
                                <td th:text="${comment.getUser().getUsername()}"></td>
                                <td th:text="${comment.getPost().getTitle()}"></td>
                                <td th:text="${comment.getBody()}"></td>
                                <td th:text="${comment.getPost().getCategory().getStatus()!=status[2]?comment.getPost().getCategory().getName():'NULL'}"></td>
                                <td th:text="${comment.getStatus()}"></td>
                                <td th:text="${#temporals.format(T(java.time.LocalDate).of(#dates.year(comment.getCreatedAt()),
                                #dates.month(comment.getCreatedAt()), #dates.day(comment.getCreatedAt())), 'dd MMM yyyy',
                                #locale.forLanguageTag('en'))}"></td>
                                <td th:text="${#temporals.format(T(java.time.LocalDate).of(#dates.year(comment.getUpdatedAt()),
                                #dates.month(comment.getUpdatedAt()), #dates.day(comment.getUpdatedAt())), 'dd MMM yyyy',
                                #locale.forLanguageTag('en'))}"></td>
                                <td>
                                    <a th:data-id="${comment.getId()}" href="#" title="Edit"
                                       th:data-body="${comment.getBody()}"
                                       th:data-title-post="${comment.getPost().getTitle()}"
                                       th:data-username="${comment.getUser().getUsername()}"
                                       th:data-category="${comment.getPost().getCategory().getName()}"
                                       data-toggle="modal" data-target="#EditCommentUserModal">
                                        <img src="/img/icon/edit.png" width="30px"/></a>
                                    <a th:data-id="${comment.getId()}" href="#" title="Delete"
                                       th:data-name="${comment.getBody()}"
                                       data-toggle="modal" data-target="#DeleteModal">
                                        <img src="/img/icon/delete.png" width="30px"/></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:insert="/user/fragments/footer.html::footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:insert="/user/fragments/logout-modal.html::logout-modal"></th:block>
<th:block th:insert="/user/fragments/delete-modal.html::delete-modal"></th:block>
<th:block th:insert="/user/fragments/delete-user-modal.html::delete-user-modal"></th:block>
<th:block th:insert="/user/fragments/edit-comment-modal.html::edit-comment-modal"></th:block>
<th:block th:insert="/user/fragments/alert-modal.html::alert-modal"></th:block>
<th:block th:insert="/user/fragments/message-modal.html::message-modal"></th:block>

<th:block th:insert="/user/fragments/user-other-foot.html::user-other-foot"></th:block>

<script>
    $('#EditCommentUserModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let id = button.data('id');
        let body = button.data('body');
        let title = button.data('title-post');
        let username = button.data('username');
        let category = button.data('category');
        let action = "/user/comments/comment-store";
        let label = "Edit Comment";
        let modal = $(this);
        modal.find('#id').val(id);
        modal.find('#body').val(body);
        modal.find('#title-post').val(title);
        modal.find('#username').val(username);
        modal.find('#category').val(category);
        modal.find('#exampleModalLabel').text(label);
        modal.find('#action').prop("action", action);
    });
    $('#DeleteModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let id = button.data('id');
        let name = button.data('name');
        let action = "/user/comments/delete/" + id;
        let label = "Are you sure you're ready to delete Comment - \"" + name.toUpperCase()  + "\"?";
        let text = "Select \"Delete\" below if you are ready to remove this Comment."
        let modal = $(this);
        modal.find('#deleteModalLabel').text(label);
        modal.find('#text').text(text);
        modal.find('#action').prop("href", action);
    })

</script>

</body>

</html>