<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="/admin/fragments/head.html::head"></th:block>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:insert="/admin/fragments/sidebar.html::sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <th:block th:insert="/admin/fragments/topbar.html::topbar"></th:block>


            <!-- Begin Page Content -->
            <div class="col-md-8 col-md-offset-1">
                <h1 class="text-center">List Tags</h1>
                <p>
                    <a class="btn btn-success btn-sm" href="#" style="border-radius:6px;"
                       data-toggle="modal" data-target="#CreateTagModal">Create new tag</a>
                </p>
                <table class="table table-hover align-self-center">
                    <thead>
                    <tr style="background: #cff4fc;">
                        <th scope="col">Name</th>
                        <th scope="col">CreateAt</th>
                        <th scope="col">UpdateAt</th>
                        <th scope="col">Buttons</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tag:${tags}">
                        <td th:text="${tag.getName()}"></td>
                        <td th:text="${#dates.format(tag.getCreatedAt(), 'dd MMM yyyy')}"></td>
                        <td th:text="${#dates.format(tag.getUpdatedAt(), 'dd MMM yyyy')}"></td>
                        <td>
                            <a class="btn btn-primary btn-sm" style="border-radius:6px;" href="#"
                               th:data-id="${tag.getId()}"
                               th:data-name="${tag.getName()}"
                               data-toggle="modal" data-target="#EditModal">Edit</a>
                            <a class="btn btn-danger btn-sm" style="border-radius:6px;" href="#"
                               th:data-id="${tag.getId()}"
                               th:data-name="${tag.getName()}"
                               data-toggle="modal" data-target="#DeleteModal">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:insert="/admin/fragments/footer.html::footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<th:block th:insert="/admin/fragments/delete-modal.html::delete-modal"></th:block>
<th:block th:insert="/admin/fragments/edit-modal.html::edit-modal"></th:block>
<th:block th:insert="/admin/fragments/create-tag-modal.html::create-tag-modal"></th:block>
<!-- Logout Modal-->
<th:block th:insert="/admin/fragments/logout-modal.html::logout-modal"></th:block>

<!-- Bootstrap core JavaScript-->
<script src="/admin/vendor/jquery/jquery.min.js"></script>
<script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/admin/js/sb-admin-2.min.js"></script>

<script>
    $('#EditModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let id = button.data('id');
        let name = button.data('name');
        let action = "/admin/tags/tag-store";
        let title = "Edit Tag";
        let modal = $(this);
        modal.find('#id').val(id);
        modal.find('#name').val(name);
        modal.find('#exampleModalLabel').text(title);
        modal.find('#action').prop("action", action);
    })
    $('#DeleteModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let id = button.data('id');
        let name = button.data('name');
        let action = "/admin/tag/delete/" + id;
        let label = "Are you sure you're ready to delete Tag - \"" + name.toUpperCase() + "\"?";
        let text = "Select \"Delete\" below if you are ready to remove this Tag."
        let modal = $(this);
        modal.find('#deleteModalLabel').text(label);
        modal.find('#text').text(text);
        modal.find('#action').prop("href", action);
    })

</script>
</body>

</html>