<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="/admin/fragments/head.html::head"></th:block>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:insert="/admin/fragments/sidebar.html::sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <th:block th:insert="/admin/fragments/topbar.html::topbar"></th:block>


            <!-- Begin Page Content -->
            <div class="col-md-8 col-md-offset-1">
                <h1 class="text-center">List Tags</h1>
                <p>
                    <a class="btn btn-success btn-sm" href="#" style="border-radius:6px;"
                       data-toggle="modal" data-target="#CreateTagModal">Create new tag</a>
                </p>
                <div class="scroll-table">
                    <table>
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">CreateAt</th>
                            <th scope="col">UpdateAt</th>
                            <th scope="col">Buttons</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="scroll-table-body">
                        <table>
                            <tbody>
                            <tr th:each="tag:${tags}">
                                <td th:text="${tag.getName()}"></td>
                                <td th:text="${tag.getStatus()}"></td>
                                <td th:text="${#temporals.format(T(java.time.LocalDate).of(#dates.year(tag.getCreatedAt()),
                                #dates.month(tag.getCreatedAt()), #dates.day(tag.getCreatedAt())), 'dd MMM yyyy',
                                #locale.forLanguageTag('en'))}"></td>
                                <td th:text="${#temporals.format(T(java.time.LocalDate).of(#dates.year(tag.getUpdatedAt()),
                                #dates.month(tag.getUpdatedAt()), #dates.day(tag.getUpdatedAt())), 'dd MMM yyyy',
                                #locale.forLanguageTag('en'))}"></td>
                                <td>
                                    <a th:data-id="${tag.getId()}" href="#" title="Edit"
                                       th:data-name="${tag.getName()}"
                                       data-toggle="modal" data-target="#EditModal">
                                        <img src="/img/icon/edit.png" width="30px"/></a>
                                    <a th:if="${tag.getStatus()==status[2]}"
                                       th:data-id="${tag.getId()}" href="#" title="Recovery"
                                       th:data-name="${tag.getName()}"
                                       data-toggle="modal" data-target="#RecoveryModal">
                                        <img src="/img/icon/restore.png" width="30px"/></a>
                                    <a th:data-id="${tag.getId()}" href="#" title="Delete"
                                       th:data-name="${tag.getName()}"
                                       data-toggle="modal" data-target="#DeleteModal">
                                        <img src="/img/icon/delete.png" width="30px"/></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:insert="/admin/fragments/footer.html::footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<th:block th:insert="/admin/fragments/delete-modal.html::delete-modal"></th:block>
<th:block th:insert="/admin/fragments/edit-modal.html::edit-modal"></th:block>
<th:block th:insert="/admin/fragments/recovery-modal.html::recovery-modal"></th:block>
<th:block th:insert="/admin/fragments/create-tag-modal.html::create-tag-modal"></th:block>
<!-- Logout Modal-->
<th:block th:insert="/admin/fragments/logout-modal.html::logout-modal"></th:block>

<!-- Bootstrap core JavaScript-->
<script src="/admin/vendor/jquery/jquery.min.js"></script>
<script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/admin/js/sb-admin-2.min.js"></script>

<script>
    $('#EditModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let id = button.data('id');
        let name = button.data('name');
        let action = "/admin/tags/tag-store";
        let title = "Edit Tag";
        let modal = $(this);
        modal.find('#id').val(id);
        modal.find('#name').val(name);
        modal.find('#exampleModalLabel').text(title);
        modal.find('#action').prop("action", action);
    });
    $('#RecoveryModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let id = button.data('id');
        let name = button.data('name');
        let action = "/admin/tags/tag-recovery";
        let title = "Recovery Tag";
        let modal = $(this);
        modal.find('#id').val(id);
        modal.find('#name').val(name);
        modal.find('#exampleModalLabel').text(title);
        modal.find('#action').prop("action", action);
    });
    $('#DeleteModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let id = button.data('id');
        let name = button.data('name');
        let action = "/admin/tag/delete/" + id;
        let label = "Are you sure you're ready to delete Tag - \"" + name.toUpperCase() + "\"?";
        let text = "Select \"Delete\" below if you are ready to remove this Tag."
        let modal = $(this);
        modal.find('#deleteModalLabel').text(label);
        modal.find('#text').text(text);
        modal.find('#action').prop("href", action);
    });

</script>
</body>

</html>