<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="/user/fragments/head.html::head"></th:block>

<style>
    a:hover {
        text-decoration: none;
        color: #d62516;
    }
</style>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:insert="/user/fragments/sidebar.html::sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <th:block th:insert="/user/fragments/topbar.html::topbar"></th:block>


            <!-- Begin Page Content -->
            <div class="col-md-12 col-md-offset-1">
                <h1 class="text-center">List Friends</h1>

                <th:block th:if="${friends.size()!=0}"
                          th:insert="/friend/list-friends.html::list-friends"></th:block>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:insert="/user/fragments/footer.html::footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:insert="/user/fragments/logout-modal.html::logout-modal"></th:block>
<th:block th:insert="/user/fragments/delete-modal.html::delete-modal"></th:block>
<th:block th:insert="/user/fragments/delete-user-modal.html::delete-user-modal"></th:block>
<th:block th:insert="/user/fragments/alert-modal.html::alert-modal"></th:block>
<th:block th:insert="/user/fragments/message-modal.html::message-modal"></th:block>
<th:block th:insert="/user/fragments/send-user-massege.html::send-user-message"></th:block>

<th:block th:insert="/user/fragments/user-other-foot.html::user-other-foot"></th:block>

<script th:inline="javascript">
    let data = [[${friends}]];
    let user = [[${user}]];
</script>

<script src="/js/sort/sort-table-friends.js"></script>

<script>

    $(window).on("load",function (){
        let term = document.querySelectorAll('.terming');
        let date;
        term.forEach((st)=>{
            date = st.dataset.date;
            st.innerText=termingDate(date);
        });
    })

    function termingDate(date) {
        let data = new Date(date.toString());
        let dataNow = new Date();
        let timeDiff = Math.abs(dataNow.getTime() - data.getTime());
        return Math.ceil(timeDiff / (1000 * 3600 * 24));
    }

</script>

</body>

</html>