<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="new-send-password">
  <div class="container-fluid">
    <h3>YOUR NEW PASSWORD</h3>
    <div class="row" style="font-size: 16px;">
      <div class="col" style="font-weight: bold">Username: </div>
      <div class="col" style="color: blue;" th:text="${userName}"></div>
    </div>
    <div class="row" style="font-size: 16px;">
      <div class="col" style="font-weight: bold">New Password: </div>
      <div class="col" style="color: blue;" th:text="${password}"></div>
    </div>
    <div>
      <p style="font-size: 14px; font-style: italic; text-decoration: underline; color: #d62516;">
        "We warn you, for your own safety, you need to change this password during the day!"
      </p>
    </div>
    <div>
      <p style="font-weight: bold; font-size: 14px">
        © Copyright Freedom. All Rights Reserved
      </p>
    </div>
  </div>
</div>