<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="/pages/fragments/main/head"></th:block>

<body>

<!-- ======= Header ======= -->
<th:block th:include="/pages/fragments/main/header"></th:block>

<main id="main">
    <th:block th:include="/pages/fragments/about/about-us"></th:block>

    <th:block th:include="/pages/fragments/about/latest-news"></th:block>

    <th:block th:include="/pages/fragments/about/our-team"></th:block>

</main><!-- End #main -->

<!-- ======= Footer ======= -->

<th:block th:include="/pages/fragments/main/footer"></th:block>

<th:block th:include="/pages/fragments/main/foot"></th:block>

</body>

</html>