<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="/pages/fragments/main/head"></th:block>

<body>

<!-- ======= Header ======= -->
<th:block th:insert="/pages/fragments/main/header.html::header"></th:block>

<main id="main">

    <!-- ======= Hero Slider Section ======= -->
    <th:block th:include="/pages/fragments/main/slider"></th:block>

    <!-- ======= Post Grid Section ======= -->
    <th:block th:include="/pages/fragments/main/post-grid"></th:block>

    <!-- ======= Culture Category Section ======= -->
    <th:block th:include="/pages/fragments/main/culture-category"></th:block>

    <!-- ======= Business Category Section ======= -->
    <th:block th:include="/pages/fragments/main/business-category"></th:block>

    <!-- ======= Lifestyle Category Section ======= -->
    <th:block th:include="/pages/fragments/main/lifestyle-category"></th:block>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<th:block th:include="/pages/fragments/main/footer"></th:block>

<th:block th:include="/pages/fragments/main/foot"></th:block>

</body>

</html>