<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="/pages/fragments/main/head.html::head"></th:block>

<body>

<th:block th:insert="/pages/fragments/main/header.html::header"></th:block>

<main id="main">

    <section class="single-post-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9 post-content" data-aos="fade-up">

                    <!-- ======= Single Post Content ======= -->

                    <th:block th:insert="/pages/fragments/single-post/post-content.html::post-content"></th:block>

                    <!-- ======= Comments ======= -->

                    <th:block th:insert="/pages/fragments/single-post/post-comments.html::post-comments"></th:block>

                    <!-- ======= Comments Form ======= -->

                    <th:block th:if="${user != null and user.getStatus()==status[0]}"
                              th:insert="/pages/fragments/single-post/post-comments-form.html::post-comments-form"></th:block>

                </div>
                <div class="col-md-3">
                    <!-- ======= Sidebar ======= -->
                    <div class="aside-block">

                        <th:block
                                th:insert="/pages/fragments/category/sidebar-category.html::sidebar-category"></th:block>

                        <div class="tab-content" id="pills-tabContent">

                            <!-- Popular -->

                            <th:block
                                    th:insert="/pages/fragments/single-post/post-popular.html::post-popular"></th:block>

                            <!-- Trending -->

                            <th:block
                                    th:insert="/pages/fragments/single-post/post-trending.html::post-trending"></th:block>

                            <!-- Latest -->

                            <th:block th:insert="/pages/fragments/single-post/post-latest.html::post-latest"></th:block>

                        </div>
                    </div>

                    <div class="aside-block">
                        <h3 class="aside-title">Video</h3>
                        <div class="video-post">
                            <a href="https://www.youtube.com/watch?v=AiFfDjmd0jU" class="glightbox link-video">
                                <span class="bi-play-fill"></span>
                                <img src="/img/post-landscape-5.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div><!-- End Video -->

                    <th:block th:insert="/pages/fragments/category/list-category.html::list-category"></th:block>

                    <div class="aside-block">
                        <h3 class="aside-title">Tags</h3>
                        <ul class="aside-tags list-unstyled">
                            <th:block th:each="tag : ${post.getTags()}">
                                <li><a href="#" th:text="${tag.getName()}"></a></li>
                            </th:block>

                        </ul>
                    </div><!-- End Tags -->

                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<th:block th:insert="/user/fragments/profile-card.html::profile-card"></th:block>
<th:block th:insert="/user/fragments/answer-modal.html::answer-modal"></th:block>
<th:block th:insert="/user/fragments/send-massege.html::send-message"></th:block>

<th:block th:insert="/pages/fragments/main/footer.html::footer"></th:block>

<th:block th:insert="/pages/fragments/main/foot.html::foot"></th:block>

<script src="/js/view-post-script.js"></script>

</body>
</html>