<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="/pages/fragments/main/head.html::head"></th:block>

<body>

<th:block th:insert="/pages/fragments/main/header.html::header"></th:block>

<main id="main">

    <section class="single-post-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9 post-content" data-aos="fade-up">

                    <!-- ======= Single Post Content ======= -->

                    <th:block th:insert="/pages/fragments/single-post/post-content.html::post-content"></th:block>

                    <!-- ======= Comments ======= -->

                    <th:block th:insert="/pages/fragments/single-post/post-comments.html::post-comments"></th:block>

                    <!-- ======= Comments Form ======= -->

                    <th:block th:if="${user != null and user.getStatus()==status[0]}"
                              th:insert="/pages/fragments/single-post/post-comments-form.html::post-comments-form"></th:block>

                </div>
                <div class="col-md-3">
                    <!-- ======= Sidebar ======= -->
                    <div class="aside-block">

                        <th:block
                                th:insert="/pages/fragments/category/sidebar-category.html::sidebar-category"></th:block>

                        <div class="tab-content" id="pills-tabContent">

                            <!-- Popular -->

                            <th:block
                                    th:insert="/pages/fragments/single-post/post-popular.html::post-popular"></th:block>

                            <!-- Trending -->

                            <th:block
                                    th:insert="/pages/fragments/single-post/post-trending.html::post-trending"></th:block>

                            <!-- Latest -->

                            <th:block th:insert="/pages/fragments/single-post/post-latest.html::post-latest"></th:block>

                        </div>
                    </div>

                    <div class="aside-block">
                        <h3 class="aside-title">Video</h3>
                        <div class="video-post">
                            <a href="https://www.youtube.com/watch?v=AiFfDjmd0jU" class="glightbox link-video">
                                <span class="bi-play-fill"></span>
                                <img src="/img/post-landscape-5.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div><!-- End Video -->

                    <th:block th:insert="/pages/fragments/category/list-category.html::list-category"></th:block>

                    <div class="aside-block">
                        <h3 class="aside-title">Tags</h3>
                        <ul class="aside-tags list-unstyled">
                            <th:block th:each="tag : ${post.getTags()}">
                                <li><a href="#" th:text="${tag.getName()}"></a></li>
                            </th:block>

                        </ul>
                    </div><!-- End Tags -->

                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<th:block th:insert="/user/fragments/profile-card.html::profile-card"></th:block>

<th:block th:insert="/user/fragments/answer-modal.html::answer-modal"></th:block>

<th:block th:insert="/pages/fragments/main/footer.html::footer"></th:block>

<th:block th:insert="/pages/fragments/main/foot.html::foot"></th:block>

<script>
    $('#likes-button').on('click', function () {
        let postId = $('#likes-button').data('id');
        $('#likes-button').off('click');
        if (postId) {
            $.get({
                url: '/api/posts/likes/' + postId,
                success: (data) => {
                    $('#likes').text(data.likes)
                },
                error: (err) => {
                    console.log(err);
                }
            });
            $('#img-like-do').attr('src', '/img/icon/like.png');
        }
    });

    $('#modalAbandonedCart').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let idTo = button.data('id');
        let name = button.data('name');
        let posts = button.data('posts');
        let comments = button.data('comments');
        let friends = button.data('friends');
        let idFrom = button.data('user');
        let rating = button.data('rating');
        let avatar = "/" + button.data('avatar');
        let modal = $(this);
        modal.find('#userFrom').val(idFrom);
        modal.find('#userTo').val(idTo);
        modal.find('#name-user').text(name);
        modal.find('#posts-user').text(posts);
        modal.find('#comments-user').text(comments);
        modal.find('#friends-user').text(friends);
        modal.find('#rating-user').text(rating);
        modal.find('#avatar').attr('src', avatar);
        if (typeof idFrom == "undefined") {
            modal.find('#message').attr('disabled', true);
            modal.find('#follow').attr('disabled', true);
        } else if (parseInt(idFrom) === parseInt(idTo)) {
            modal.find('#message').attr('disabled', true);
            modal.find('#follow').attr('disabled', true);
        }
    });

    $('#follow').on('click', function (e) {
        e.preventDefault();
        let userFrom = $('#userFrom').val();
        let userTo = $('#userTo').val();
        $.get({
            url: '/user/alerts/follow/' + userTo,
            data: {
                userId: userFrom
            },
            success: (data) => {
                if(data===200){
                  let text = "Friend request sent!";
                    answerModal(text);
                }else{
                    let text = "A friend request has already been sent. Wait for a response from the user!";
                    answerModal(text);
                }

            },
            error: (err) => {
                console.log(err);
            }
        });
    });

    function answerModal(text){
        $('#answerModal').on('shown.bs.modal', function (){
            $('#answer-text').text(text);
        })

    }

    $('#comment-button').on('click', function (e) {
        e.preventDefault();
        let userId = $('#userId').val();
        let postId = $('#postId').val();
        let text = $('#comment-message').val();
        if (text !== "") {
            $.get({
                url: '/api/posts/comment/' + postId,
                data: {
                    userId: userId,
                    text: text
                },
                success: (data) => {
                    printComments(data);
                },
                error: (err) => {
                    console.log(err);
                }
            });
            $('#comment-name').val("");
            $('#comment-email').val("");
            $('#comment-message').val("");
        }
    });

    function printComments(data) {
        if (data != null) {
            let size = document.getElementById("size");
            if (typeof data.length !== 'undefined')
                size.innerText = data.length;
            let comments = document.getElementById("comments-container");
            comments.innerHTML = "";
            for (let i = 0; i < data.length; i++) {
                let div1 = document.createElement("div");
                let div2 = document.createElement("div");
                div2.className = "comment d-flex mb-4";
                let div3 = document.createElement("div");
                div3.className = "flex-shrink-0";
                let div4 = document.createElement("div");
                div4.className = "avatar avatar-sm rounded-circle";
                let img = document.createElement("img");
                img.className = "avatar-img img-fluid";
                img.alt = "avatar";
                img.src = "/" + data[i].user.avatarUrl;
                div4.appendChild(img);
                div3.appendChild(div4);
                let div5 = document.createElement("div");
                div5.className = "flex-grow-1 ms-2 ms-sm-3";
                let div6 = document.createElement("div");
                div6.className = "comment-meta d-flex align-items-baseline";
                let h1 = document.createElement("h6");
                h1.className = "me-2";
                h1.innerText = data[i].user.fullName;
                let span1 = document.createElement("span");
                span1.className = "text-muted";
                span1.innerText = correctDate(data[i].createdAt);
                div6.appendChild(h1);
                div6.appendChild(span1);
                let div7 = document.createElement("div");
                div7.className = "img-comment-text";
                div7.innerText = data[i].body;
                div5.appendChild(div6);
                div5.appendChild(div7);
                div2.appendChild(div3);
                div2.appendChild(div5);
                div1.appendChild(div2);
                comments.appendChild(div1);
            }
        }
    }

    function correctDate(date) {
        let data = new Date(date.toString());
        return data.toLocaleDateString('en-GB', {
            day: 'numeric', month: 'long', year: 'numeric'
        }).replace(/ /g, ' ');
    }

</script>

</body>
</html>