<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <header id="header" class="header d-flex align-items-center fixed-top" th:fragment="header">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/" class="logo d-flex align-items-center">
                <img src="/img/logo_freedom.png">
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="/">Blog</a></li>
                    <li><a href="single-post.html">Single Post</a></li>
                    <li class="dropdown"><a href="/category"><span>Categories</span> <i
                            class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li th:each="category :${categories}"><a th:text="${category.getName()}" href="#"></a></li>
                        </ul>
                    </li>

                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav><!-- .navbar -->

            <div class="position-relative">
                <div class="d-flex justify-content-end">
                    <div>
                        <nav th:if="${user != null and user.getStatus()==status[0]}" id="navbar1" class="navbar">
                            <ul>
                                <li class="dropdown">
                                    <a href="#"><img class="px-1 rounded-circle" width="40px"
                                                     th:src="${user.getAvatarUrl()}" alt="Url">
                                        <span th:text="${user.getUsername().toUpperCase()}"></span> <i
                                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                                    <ul>
                                        <li><a th:if="${user.getUsername().toUpperCase() !='ADMIN'}" href="/user">UserDashBoard</a></li>
                                        <li><a th:if="${user.getUsername().toUpperCase() =='ADMIN'}" href="/admin">AdminDashBoard</a></li>
                                        <li>
                                            <hr style="margin: 0">
                                            <a href="/logout">LogOut</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <a th:if="${user == null or user.getStatus()==status[2]}" href="/login" title="LogIn"
                           class="mx-2"><span
                                class="bi-person-circle"></span></a>
                    </div>
                    <div class="align-self-center">
                        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </div>
                </div>
                <!-- ======= Search Form ======= -->
                <div class="search-form-wrap js-search-form-wrap">
                    <form action="search-result.html" class="search-form">
                        <span class="icon bi-search"></span>
                        <label>
                            <input type="text" placeholder="Search" class="form-control"/>
                        </label>
                        <button class="btn js-search-close"><span class="bi-x"></span></button>
                    </form>
                </div><!-- End Search Form -->

            </div>

        </div>

    </header>