<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="edit-modal">
  <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="container">
          <form id="action" action="#" enctype="multipart/form-data"
                method="POST">
            <input type="hidden" name="id" id="id">
            <div class="form-group">
              <label for="file">Image</label>
              <img id="category-img" width="100px" style="padding-bottom: 5px;" src=""
                   alt="Url">
              <input class="form-control" type="file" name="file" id="file"/>
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control form-control-user" id="name" name="name">
            </div>
            <div class="form-group">
              <label for="short">Short Description</label>
              <textarea name="short" class="form-control" id="short"
                        placeholder="Short Description" rows="3"></textarea>
            </div>
            <div class="form-group form-button">
              <input type="submit" name="signup" id="signup" class="btn btn-primary btn-user btn-block"
                     value="Save"/>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>


