<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="tab-pane fade" id="pills-trending" role="tabpanel"
     aria-labelledby="pills-trending-tab" th:fragment="post-trending">
    <th:block th:each="post, state:${trendingPosts}">
        <div class="post-entry-1 border-bottom" th:if="${state.index<6}">
            <div class="post-meta"><span class="date" th:text="${post.getCategory().getName()}">Sport</span> <span
                    class="mx-1">&bullet;</span> <span th:text="${#temporals.format(T(java.time.LocalDate).
                                    of(#dates.year(post.getCreatedAt()), #dates.month(post.
                                    getCreatedAt()), #dates.day(post.getCreatedAt())), 'dd MMM yyyy',
                                #locale.forLanguageTag('en'))}">Jul 5th '22</span></div>
            <h2 class="mb-2"><a th:href="@{|/view-post/${post.getId()}|}" th:text="${post.getTitle()}">How to Avoid
                Distraction and Stay Focused During Video
                Calls?</a></h2>
            <span class="author mb-3 d-block" th:text="${post.getUser().getFullName()}">Jenny Wilson</span>
        </div>
    </th:block>
</div> <!-- End Trending -->
