<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="modal fade" id="answerModal2" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     th:fragment="answer2-modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">
                    <i class="bi bi-info-circle-fill" style="color: #0a53be"></i><span class="px-2">Info</span></h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="container text-center fw-bold">
                    <h5 id="answer-text">...</h5>
                </div>
            </div>
            <div class="modal-footer">
                    <button class="btn btn-outline-primary"
                            style="display: block; width: 100%" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
