<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="/user/fragments/head.html::head"></th:block>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:insert="/user/fragments/sidebar.html::sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <th:block th:insert="/user/fragments/topbar.html::topbar"></th:block>


            <!-- Begin Page Content -->

            <!-- Sign up form -->
            <div class="col-md-12 col-md-offset-2">
                <h1 class="text-center">Edit Post</h1>
                <div class="row">
                    <div class="col">
                        <form th:action="@{|/user/posts/edit-store/${post.getId()}|}" enctype="multipart/form-data"
                              method="POST">
                            <input type="hidden" name="user_id" th:value="${user.getId()}">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <input type="text" name="title" class="form-control" id="title"
                                               placeholder="Title" th:value="${post.getTitle()}">
                                    </div>
                                    <div class="form-group">
                                        <label for="shortName">Short Name</label>
                                        <input type="text" name="shortName" class="form-control" id="shortName"
                                               placeholder="Short Name" th:value="${post.getShortName()}">
                                    </div>
                                    <div class="form-group">
                                        <div>Category</div>
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Category">
                                            <button type="button" class="btn btn-info m-1"
                                                    title="If you want to change, click on the button"
                                                    data-toggle="collapse" data-target="#collapseCategory"
                                                    aria-expanded="false" aria-controls="collapseCategory"
                                                    th:text="${post.getCategory().getName()}">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="collapse form-group" id="collapseCategory">
                                        <label for="category_id">New Category</label>
                                        <select class="form-control" name="category_id" id="category_id">
                                            <option selected th:value="0">Please select...</option>
                                            <option th:each="category : ${categories}"
                                                    th:value="${category.id}"
                                                    th:text="${category.name}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="file">Image</label>
                                        <img width="100px" th:src="@{|/${post.getImgUrl()}|}"
                                             alt="Url">
                                        <input class="form-control" type="file" name="file" id="file"/>
                                    </div>
                                    <div class="form-group">
                                        <div for="tag_id">Tags</div>
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Tags">
                                            <button type="button" class="btn btn-info m-1"
                                                    title="If you want to change, click on the button"
                                                    data-toggle="collapse" data-target="#collapseExample"
                                                    aria-expanded="false" aria-controls="collapseExample"
                                                    th:each="tag : ${post.getTags()}" th:text="${tag.getName()}">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="collapse form-group" id="collapseExample">
                                        <label for="tag_id">New Tags</label>
                                        <select class="form-control" name="tag_id" id="tag_id" multiple>
                                            <option th:each="tag : ${tags}"
                                                    th:value="${tag.id}"
                                                    th:text="${tag.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea class="form-control" name="description" id="description"
                                                  rows="19"
                                                  th:text="${post.getBody()}"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="submit" name="signup" id="signup"
                                           class="btn btn-success btn-user btn-block"
                                           value="Save"/>
                                </div>
                                <div class="col-6">
                                    <a type="button" th:href="@{|/user/posts/${user.getId()}|}"
                                       class="btn btn-info btn-user btn-block">Back</a>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>


            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:insert="/user/fragments/footer.html::footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:insert="/user/fragments/logout-modal.html::logout-modal"></th:block>

<!-- Bootstrap core JavaScript-->
<script src="/user/vendor/jquery/jquery.min.js"></script>
<script src="/user/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/user/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/user/js/sb-admin-2.min.js"></script>

</body>

</html>