<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="list-all-messages">
    <div style="margin-top: 55px;">
        <div class="scroll-table">
            <table>
                <thead>
                <tr>
                    <th scope="col"><a href="#" class="sort-table-message" data-tag="up" data-name="UsernameSender">Sender<img
                            id="userSend" src="/img/icon/up-arrow.png" width="15px" alt="image"></a></th>
                    <th scope="col"><a href="#" class="sort-table-message" data-tag="up" data-name="FullNameSender">Name Sender<img
                            id="fullSend" src="/img/icon/up-arrow.png" width="15px" alt="image"></a></th>
                    <th scope="col"><a href="#" class="sort-table-message" data-tag="up" data-name="UsernameRecipient">Recipient<img
                            id="userRec" src="/img/icon/up-arrow.png" width="15px" alt="image"></a></th>
                    <th scope="col">Message</th>
                    <th scope="col"><a href="#" class="sort-table-message" data-tag="up" data-name="Status">Status<img
                            id="stat" src="/img/icon/up-arrow.png" width="15px" alt="image"></a></th>
                    <th scope="col"><a href="#" class="sort-table-message" data-tag="up" data-name="DateViewed">Date Viewed<img
                            id="dataV" src="/img/icon/up-arrow.png" width="15px" alt="image"></a></th>
                    <th scope="col"><a href="#" class="sort-table-message" data-tag="up" data-name="DateSent">Date Sent<img
                            id="dataS" src="/img/icon/up-arrow.png" width="15px" alt="image"></a></th>
                    <th scope="col">Buttons</th>
                </tr>
                </thead>
            </table>
            <div class="scroll-table-body">
                <table>
                    <tbody id="body-table">
                    <tr th:each="message:${messageAllList}">
                        <td th:text="${message.getInvite().getUserFrom().getUsername()}"></td>
                        <td th:text="${message.getInvite().getUserFrom().getFullName()}"></td>
                        <td th:text="${message.getInvite().getUserTo().getUsername()}"></td>
                        <td th:text="${message.getMessage().length()>70
                                ?(message.getMessage().substring(0, 70)+' ...'):message.getMessage()}"></td>
                        <td th:text="${message.getStatus()}"></td>
                        <td th:text="${message.getInvite().getStatus()!=status[8]?status[9]:(#temporals.format(T(java.time.LocalDate).of(#dates.year(message.getInvite().getUpdatedAt()),
                                #dates.month(message.getInvite().getUpdatedAt()), #dates.day(message.getInvite().getUpdatedAt())), 'dd MMM yyyy',
                                #locale.forLanguageTag('en')))}"></td>
                        <td th:text="${#temporals.format(T(java.time.LocalDate).of(#dates.year(message.getCreatedAt()),
                                #dates.month(message.getCreatedAt()), #dates.day(message.getCreatedAt())), 'dd MMM yyyy',
                                #locale.forLanguageTag('en'))}"></td>
                        <td>
                            <a href="#" data-class="viewMessage" data-target="#MessageModal" data-toggle="modal"
                               th:data-dies="${message.getInvite().getStatus()==status[8]?true:false}"
                               th:data-id="${message.getId()}"
                               th:data-button="mail" title="View Message"
                               th:data-id-from="${message.getInvite().getUserFrom().getId()}"
                               th:data-id-to="${message.getInvite().getUserTo().getId()}"
                               th:data-name="${message.getInvite().getUserFrom().getFullName()}"
                               th:data-text="${message.getMessage()}"
                               th:data-date="${#temporals.format(T(java.time.LocalDate).of(#dates.year(message.getCreatedAt()),
                                #dates.month(message.getCreatedAt()), #dates.day(message.getCreatedAt())), 'dd MMM yyyy',
                                #locale.forLanguageTag('en'))}">
                                <img src="/img/icon/read.png" width="30px"/></a>
                            <a href="#" class="editMessage" title="Edit Message"
                               th:data-id="${message.getId()}"
                               th:data-name="${message.getInvite().getUserTo().getFullName()}"
                               th:data-text="${message.getMessage()}">
                                <img src="/img/icon/edit.png" width="30px"/></a>
                            <a th:if="${message.getStatus()==status[2]}"
                                    href="#" class="recoveryMessage" title="Recovery Message"
                               th:data-id="${message.getId()}">
                                <img src="/img/icon/restore.png" width="30px"/></a>
                            <a th:if="${message.getStatus()!=status[2]}"
                               href="#" data-title="deleteMessage" data-toggle="modal"
                               data-target="#DeleteModal" title="Delete Message"
                               th:data-admin="admin"
                               th:data-id="${message.getId()}"
                               th:data-id-from="${message.getInvite().getUserFrom().getId()}"
                               th:data-id-to="${message.getInvite().getUserTo().getId()}">
                                <img src="/img/icon/delete-message.png" width="30px"/></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>