<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="container-fluid" th:fragment="mail-list-group">
  <div class="row">
    <div class="col-4">
      <ul class="list-group list-group-light">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" width="80px"
                 class="rounded-circle px-2" />
            <div class="ms-3">
              <p class="fw-bold mb-1">John Doe</p>
              <p class="text-muted mb-0">john.doe@gmail.com</p>
            </div>
          </div>
          <span class="badge rounded-pill badge-success">Active</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle px-2" alt=""
                 width="80px"/>
            <div class="ms-3">
              <p class="fw-bold mb-1">Alex Ray</p>
              <p class="text-muted mb-0">alex.ray@gmail.com</p>
            </div>
          </div>
          <span class="badge rounded-pill badge-primary">Onboarding</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <img src="https://mdbootstrap.com/img/new/avatars/7.jpg" class="rounded-circle px-2" alt=""
                 width="80px"/>
            <div class="ms-3">
              <p class="fw-bold mb-1">Kate Hunington</p>
              <p class="text-muted mb-0">kate.hunington@gmail.com</p>
            </div>
          </div>
          <span class="badge rounded-pill badge-warning">Awaiting</span>
        </li>
      </ul>
    </div>
    <div class="col-8">
      <ul class="list-group list-group-light mb-3" style="max-height: 500px; overflow-y: auto;">
        <li class="list-group-item">
          <h5 class="fw-bold">Our company starts its operations</h5>
          <p class="text-muted mb-2 fw-bold">11 March 2020</p>
          <p class="text-muted mb-0">
            Some placeholder content in a paragraph relating to "Our company starts its operations". And some
            more content, used here just to pad out and fill this tab panel. In production, you would obviously
            have more real content here. And not just text. It could be anything, really. Text, images, forms.
          </p>
        </li>
        <li class="list-group-item">
          <h5 class="fw-bold">First customer</h5>
          <p class="text-muted mb-2 fw-bold">19 March 2020</p>
          <p class="text-muted mb-0">
            Some placeholder content in a paragraph relating to "First customer". And some more content,
            used here just to pad out and fill this tab panel. In production, you would obviously have more real
            content here. And not just text. It could be anything, really. Text, images, forms.
          </p>
        </li>
        <li class="list-group-item">
          <h5 class="fw-bold">Our team exceeds 10 people</h5>
          <p class="text-muted mb-2 fw-bold">24 June 2020</p>
          <p class="text-muted mb-0">
            Some placeholder content in a paragraph relating to "Our team exceeds 10 people". And some more
            content, used here just to pad out and fill this tab panel. In production, you would obviously
            have more real content here. And not just text. It could be anything, really. Text, images, forms.
          </p>
        </li>
        <li class="list-group-item">
          <h5 class="fw-bold">Our team exceeds 10 people</h5>
          <p class="text-muted mb-2 fw-bold">24 June 2020</p>
          <p class="text-muted mb-0">
            Some placeholder content in a paragraph relating to "Our team exceeds 10 people". And some more
            content, used here just to pad out and fill this tab panel. In production, you would obviously
            have more real content here. And not just text. It could be anything, really. Text, images, forms.
          </p>
        </li>
      </ul>
      <a class="btn btn-outline-dark btn-rounded w-100" href="#" role="button" data-ripple-color="dark">View all</a>
    </div>
  </div>

</div>