<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:fragment="topbar">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <form
            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                   aria-label="Search" aria-describedby="basic-addon2" id="input-search-admin">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="button-search">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                 aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                               placeholder="Search for..." aria-label="Search"
                               aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1" th:if="${role!='ROLE_EDITOR'}">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter" id="alerts-size"
                      th:text="${alerts.size()==0?'':(alerts.size()>3?'3+':alerts.size())}">3+</span>
            </a>
            <!-- Dropdown - Alerts -->
            <div id="list-alerts" class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                    Alerts Center
                </h6>
                <th:block th:each="alert, state:${alerts}">
                    <a class="dropdown-item d-flex align-items-center" data-target="#AlertModal" data-toggle="modal"
                       th:data-id="${alert.getId()}"
                       th:data-name="${alert.getInvite().getUserFrom().getFullName()==null?('User '+ alert.getInvite().getUserFrom().getUsername()):
                                        alert.getInvite().getUserFrom().getFullName()}"
                       th:data-text="${alert.getText()}" th:if="${state.index<3}" href="#"
                       th:data-show="${true}"
                       th:data-date="${#temporals.format(T(java.time.LocalDate).of(#dates.year(alert.getCreatedAt()),
                                #dates.month(alert.getCreatedAt()), #dates.day(alert.getCreatedAt())), 'dd MMM yyyy',
                                #locale.forLanguageTag('en'))}">
                        <div class="mr-3">
                            <div class="icon-circle bg-warning">
                                <i class="fas fa-exclamation-triangle text-white"></i>
                            </div>
                        </div>
                        <div style="font-weight: normal">
                            <div class="small text-gray-500" th:text="${#temporals.format(T(java.time.LocalDate).of(#dates.year(alert.getCreatedAt()),
                                #dates.month(alert.getCreatedAt()), #dates.day(alert.getCreatedAt())), 'dd MMM yyyy',
                                #locale.forLanguageTag('en'))}">December 12, 2019
                            </div>
                            <span th:style="${alert.getInvite().getStatus()==status[8]||alert.getInvite().getStatus()==status[7]}
                            ? 'font-weight: normal':'font-weight: bold'"
                                  id="text-alert" th:text="${alert.getText()}">A new monthly report is ready to download!</span>
                        </div>
                    </a>
                </th:block>
                <a class="dropdown-item text-center small text-gray-500" href="/admin/alerts">Show All Alerts</a>
            </div>
        </li>

        <!-- Nav Item - Messages -->
        <li class="nav-item dropdown no-arrow mx-1" th:if="${role!='ROLE_EDITOR'}">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter" id="messages-size"
                      th:text="${messages.size()==0?'':(messages.size()>6?'6+':messages.size())}">7</span>
            </a>
            <!-- Dropdown - Messages -->
            <div id="list-messages" class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                    Message Center
                </h6>
                <th:block th:each="message, state:${messages}">
                    <a class="dropdown-item d-flex align-items-center" data-target="#MessageModal"
                       data-toggle="modal" href="#"
                       th:data-id="${message.getId()}"
                       th:data-button="toolbar"
                       th:data-show="${true}"
                       th:data-id-from="${message.getInvite().getUserFrom().getId()}"
                       th:data-id-to="${message.getInvite().getUserTo().getId()}"
                       th:data-name="${message.getInvite().getUserFrom().getFullName()}"
                       th:data-text="${message.getMessage()}" th:if="${state.index<6}"
                       th:data-date="${#temporals.format(T(java.time.LocalDate).of(#dates.year(message.getCreatedAt()),
                                #dates.month(message.getCreatedAt()), #dates.day(message.getCreatedAt())), 'dd MMM yyyy',
                                #locale.forLanguageTag('en'))}">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle"
                                 th:src="@{|${message.getInvite().getUserFrom().getAvatarUrl()}|}"
                                 alt="Avatar">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div th:style="${message.getInvite().getStatus()==status[9]}? 'font-weight: normal':'font-weight: bold'">
                            <div class="text-truncate" id="text-message" th:text="${message.getMessage()}"></div>
                            <div class="small text-gray-500"
                                 th:text="${message.getInvite().getUserFrom().getFullName() + ' - ' + #temporals.format(T(java.time.LocalDate).of(#dates.year(message.getCreatedAt()),
                                #dates.month(message.getCreatedAt()), #dates.day(message.getCreatedAt())), 'dd MMM yyyy',
                                #locale.forLanguageTag('en'))}"></div>
                        </div>
                    </a>
                </th:block>
                <a class="dropdown-item text-center small text-gray-500" href="/admin/messages">Read More Messages</a>
            </div>
        </li>

        <div th:if="${role!='ROLE_EDITOR'}" class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${admin.getUsername()}">Admin</span>
                <img class="img-profile rounded-circle"
                     th:src="@{|${admin.getAvatarUrl()}|}" alt="Url">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                <a class="dropdown-item" th:href="@{|/admin/users/view/${admin.getId()}|}"
                   th:if="${role!='ROLE_EDITOR'}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    View Profile
                </a>
                <a class="dropdown-item" th:href="@{|/admin/users/edit/${admin.getId()}|}"
                   th:if="${role!='ROLE_EDITOR'}">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Edit Profile
                </a>
                <div class="dropdown-divider" th:if="${role!='ROLE_EDITOR'}"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>

    </ul>

</nav>
<!-- End of Topbar -->