<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<section class="category-section" th:fragment="culture-category">
    <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
            <h2 th:text="${culPosts.get(0).getCategory().getName()}">Culture</h2>
            <div><a th:href="@{|/category/${culPosts.get(0).getCategory().getId()}|}" class="more">See All Culture</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">

                <div class="d-lg-flex post-entry-2">
                    <a th:href="@{|/view-post/${culPosts.get(0).getId()}|}"
                       class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                        <img th:src="@{|${culPosts.get(0).getImgUrl()}|}" alt="" class="img-fluid">
                    </a>
                    <div>
                        <div class="post-meta"><span class="date" th:text="${culPosts.get(0).getCategory().getName()}">Culture</span>
                            <span class="mx-1">&bullet;</span>
                            <span th:text="${#temporals.format(T(java.time.LocalDate).of(#dates.year(culPosts.get(0).getCreatedAt()),
                                #dates.month(culPosts.get(0).getCreatedAt()), #dates.day(culPosts.get(0).getCreatedAt())), 'dd MMM yyyy',
                                #locale.forLanguageTag('en'))}">Jul 5th '22</span></div>
                        <h3><a th:href="@{|/view-post/${culPosts.get(0).getId()}|}"
                               th:text="${culPosts.get(0).getTitle()}">What is the son of Football Coach John Gruden,
                            Deuce Gruden
                            doing Now?</a></h3>
                        <p th:text="${culPosts.get(0).getShortDescription()}">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Distinctio placeat
                            exercitationem magni voluptates dolore. Tenetur fugiat voluptates quas, nobis error
                            deserunt aliquam temporibus sapiente, laudantium dolorum itaque libero eos deleniti?</p>
                        <div class="d-flex align-items-center author">
                            <div class="photo"><img th:src="@{|${culPosts.get(0).getUser().getAvatarUrl()}|}" alt=""
                                                    class="img-fluid"></div>
                            <div class="name">
                                <h3 class="m-0 p-0" th:text="${culPosts.get(0).getUser().getFullName()}">Wade
                                    Warren</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="post-entry-1 border-bottom">
                            <a th:href="@{|/view-post/${culPosts.get(1).getId()}|}"><img
                                    th:src="@{|${culPosts.get(1).getImgUrl()}|}" alt=""
                                    class="img-fluid"></a>
                            <div class="post-meta"><span class="date"
                                                         th:text="${culPosts.get(1).getCategory().getName()}">Culture</span>
                                <span
                                        class="mx-1">&bullet;</span> <span th:text="${#temporals.format(T(java.time.LocalDate).
                                    of(#dates.year(culPosts.get(1).getCreatedAt()), #dates.month(culPosts.get(1).
                                    getCreatedAt()), #dates.day(culPosts.get(1).getCreatedAt())), 'dd MMM yyyy',
                                #locale.forLanguageTag('en'))}">Jul 5th '22</span></div>
                            <h2 class="mb-2"><a th:href="@{|/view-post/${culPosts.get(1).getId()}|}"
                                                th:text="${culPosts.get(1).getTitle()}">11 Work From Home Part-Time Jobs
                                You Can Do
                                Now</a></h2>
                            <span class="author mb-3 d-block" th:text="${culPosts.get(1).getUser().getFullName()}">Jenny Wilson</span>
                            <p class="mb-4 d-block" th:text="${culPosts.get(1).getShortDescription()}">Lorem ipsum dolor
                                sit, amet consectetur adipisicing elit. Vero
                                temporibus repudiandae, inventore pariatur numquam cumque possimus</p>
                        </div>

                        <div class="post-entry-1">
                            <div class="post-meta"><span class="date"
                                                         th:text="${culPosts.get(2).getCategory().getName()}">Culture</span>
                                <span
                                        class="mx-1">&bullet;</span> <span th:text="${#temporals.format(T(java.time.LocalDate).
                                    of(#dates.year(culPosts.get(2).getCreatedAt()), #dates.month(culPosts.get(2).
                                    getCreatedAt()), #dates.day(culPosts.get(2).getCreatedAt())), 'dd MMM yyyy',
                                #locale.forLanguageTag('en'))}">Jul 5th '22</span></div>
                            <h2 class="mb-2"><a th:href="@{|/view-post/${culPosts.get(2).getId()}|}"
                                                th:text="${culPosts.get(2).getTitle()}">5 Great Startup Tips for Female
                                Founders</a>
                            </h2>
                            <span class="author mb-3 d-block" th:text="${culPosts.get(2).getUser().getFullName()}">Jenny Wilson</span>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="post-entry-1">
                            <a th:href="@{|/view-post/${culPosts.get(3).getId()}|}"><img
                                    th:src="@{|${culPosts.get(3).getImgUrl()}|}" alt=""
                                    class="img-fluid"></a>
                            <div class="post-meta"><span class="date"
                                                         th:text="${culPosts.get(3).getCategory().getName()}">Culture</span>
                                <span
                                        class="mx-1">&bullet;</span> <span th:text="${#temporals.format(T(java.time.LocalDate).
                                    of(#dates.year(culPosts.get(3).getCreatedAt()), #dates.month(culPosts.get(3).
                                    getCreatedAt()), #dates.day(culPosts.get(3).getCreatedAt())), 'dd MMM yyyy',
                                #locale.forLanguageTag('en'))}">Jul 5th '22</span></div>
                            <h2 class="mb-2"><a th:href="@{|/view-post/${culPosts.get(3).getId()}|}"
                                                th:text="${culPosts.get(3).getTitle()}">How to Avoid Distraction and
                                Stay Focused
                                During Video Calls?</a></h2>
                            <span class="author mb-3 d-block" th:text="${culPosts.get(3).getUser().getFullName()}">Jenny Wilson</span>
                            <p class="mb-4 d-block" th:text="${culPosts.get(3).getShortDescription()}">Lorem ipsum dolor
                                sit, amet consectetur adipisicing elit. Vero
                                temporibus repudiandae, inventore pariatur numquam cumque possimus</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <th:block th:each="post,state:${culPosts}">
                    <div class="post-entry-1 border-bottom" th:if="${state.index>3 && state.index<10}">
                        <div class="post-meta"><span class="date"
                                                     th:text="${post.getCategory().getName()}">Culture</span> <span
                                class="mx-1">&bullet;</span>
                            <span th:text="${#temporals.format(T(java.time.LocalDate).
                                    of(#dates.year(post.getCreatedAt()), #dates.month(post.
                                    getCreatedAt()), #dates.day(post.getCreatedAt())), 'dd MMM yyyy',
                                #locale.forLanguageTag('en'))}">Jul 5th '22</span></div>
                        <h2 class="mb-2"><a th:href="@{|/view-post/${post.getId()}|}" th:text="${post.getTitle()}">How
                            to Avoid Distraction and Stay Focused During
                            Video Calls?</a></h2>
                        <span class="author mb-3 d-block" th:text="${post.getUser().getFullName()}">Jenny Wilson</span>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</section>
