<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<section id="posts" class="posts" th:fragment="post-grid">
    <div class="container" data-aos="fade-up">
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="post-entry-1 lg">
                    <a th:href="@{|/view-post/${posts.get(0).getId()}|}"><img th:src="@{|/${posts.get(0).getImgUrl()}|}" alt=""
                                                                              class="img-fluid"></a>
                    <div class="post-meta"><span class="date"
                                                 th:text="${posts.get(0).getCategory().getName()}">Culture</span> <span
                            class="mx-1">&bullet;</span>
                        <span th:text="${#temporals.format(T(java.time.LocalDate).of(#dates.year(posts.get(0).getCreatedAt()),
                                #dates.month(posts.get(0).getCreatedAt()), #dates.day(posts.get(0).getCreatedAt())), 'dd MMM yyyy',
                                #locale.forLanguageTag('en'))}">Jul 5th '22</span></div>
                    <h2><a th:href="@{|/view-post/${posts.get(0).getId()}|}" th:text="${posts.get(0).getTitle()}">11
                        Work From Home Part-Time Jobs You Can Do Now</a></h2>
                    <p class="mb-4 d-block" th:text="${posts.get(0).getShortDescription()}">Lorem ipsum dolor sit, amet
                        consectetur adipisicing elit. Vero
                        temporibus repudiandae, inventore pariatur numquam cumque possimus exercitationem? Nihil
                        tempore odit ab minus eveniet praesentium, similique blanditiis molestiae ut saepe
                        perspiciatis officia nemo, eos quae cumque. Accusamus fugiat architecto rerum animi atque
                        eveniet, quo, praesentium dignissimos</p>

                    <div class="d-flex align-items-center author">
                        <div class="photo"><img th:src="@{|/${posts.get(0).getUser().getAvatarUrl()}|}" alt=""
                                                class="img-fluid"></div>
                        <div class="name">
                            <h3 class="m-0 p-0" th:text="${posts.get(0).getUser().getFullName()}">Cameron
                                Williamson</h3>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-8">
                <div class="row g-5">
                    <div class="col-lg-4 border-start custom-border">
                        <th:block th:each="post,state:${posts}">
                            <div class="post-entry-1" th:if="${state.index>0 && state.index<4}">
                                <a th:href="@{|/view-post/${post.getId()}|}"><img th:src="@{|/${post.getImgUrl()}|}"
                                                                                  alt=""
                                                                                  class="img-fluid"></a>
                                <div class="post-meta"><span class="date" th:text="${post.getCategory().getName()}">Lifestyle</span>
                                    <span
                                            class="mx-1">&bullet;</span> <span th:text="${#temporals.format(T(java.time.LocalDate).
                                    of(#dates.year(post.getCreatedAt()), #dates.month(post.
                                    getCreatedAt()), #dates.day(post.getCreatedAt())), 'dd MMM yyyy',
                                #locale.forLanguageTag('en'))}">Jul 5th '22</span></div>
                                <h2><a th:href="@{|/view-post/${post.getId()}|}" th:text="${post.getTitle()}">Let’s Get
                                    Back to Work, New York</a></h2>
                            </div>
                        </th:block>
                    </div>
                    <div class="col-lg-4 border-start custom-border">
                        <th:block th:each="post,state:${posts}">
                            <div class="post-entry-1" th:if="${state.index>3 && state.index<7}">
                                <a th:href="@{|/view-post/${post.getId()}|}"><img th:src="@{|/${post.getImgUrl()}|}"
                                                                                  alt=""
                                                                                  class="img-fluid"></a>
                                <div class="post-meta"><span class="date" th:text="${post.getCategory().getName()}">Lifestyle</span>
                                    <span
                                            class="mx-1">&bullet;</span> <span th:text="${#temporals.format(T(java.time.LocalDate).
                                    of(#dates.year(post.getCreatedAt()), #dates.month(post.
                                    getCreatedAt()), #dates.day(post.getCreatedAt())), 'dd MMM yyyy',
                                #locale.forLanguageTag('en'))}">Jul 5th '22</span></div>
                                <h2><a th:href="@{|/view-post/${post.getId()}|}" th:text="${post.getTitle()}">Let’s Get
                                    Back to Work, New York</a></h2>
                            </div>
                        </th:block>
                    </div>

                    <!-- Trending Section -->
                    <div class="col-lg-4">

                        <div class="trending">
                            <h3>Trending</h3>
                            <ul class="trending-post">
                                <th:block th:each="post, state:${trendingPosts}">
                                    <li th:if="${state.index<6}">
                                        <a th:href="@{|/view-post/${post.getId()}|}">
                                            <span class="number" th:text="${state.index+1}">1</span>
                                            <h3 th:text="${post.getTitle()}">The Best Homemade Masks for Face (keep the
                                                Pimples Away)</h3>
                                            <span class="author"
                                                  th:text="${post.getUser().getFullName()}">Jane Cooper</span>
                                        </a>
                                    </li>
                                </th:block>
                            </ul>
                        </div>

                    </div> <!-- End Trending Section -->
                </div>
            </div>

        </div> <!-- End .row -->
    </div>
</section>
