<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="message-modal">
    <div class="modal fade" id="MessageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <img src="/img/icon/message.png" alt="" width="50px;"/>
                        <span class="px-2" style="color: #6f42c1; font-weight: bold; text-decoration-line: underline;"
                              id="messageModalLabel"></span>
                        <small id="date-message" style="margin-left: 10px"></small></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p style="color: #0a53be; font-style: italic;" id="text-mess-answer"></p>
                    <p style="color: #1c294e" id="text-mess"></p></div>
                <div class="modal-footer" id="footer-accepted">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelModal">Cancel</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="messageAcceptedModal">Read</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal" id="messageAnswerModal">Answer</button>
                </div>
            </div>
        </div>
    </div>
</div>